<div id="map-canvas"></div>
<input type="text" class="form-control" id="pac-input" placeholder="Enter a location">

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="story-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <h3>ALERT</h3>
      If you are reading this that means you are still alive and well and you're not....well....a zombie? If you haven't heard about it already, here's the low down. The world has descended into panic as the slow infestation of the undead marches across the globe, consuming everything living in its path. We're not sure how it started exactly. There has been some sort of outbreak. Some say it was a monkey, others say a virus, but the reports are vague on the details. All we know is that the world is covered with zombies with a strong preference for cannibalism. You're going to want to be prepared so we have provided a service that shows you what shops, campgrounds and hospitals are around you, a survival guide with good zombie fighting tips, and links to any items you may want to purchase at low prices. Good luck!
    </div>
  </div>
</div>

<i>
  <marquee bgcolor="black" hspace="0">
    <font color="red">BREAKING NEWS!!!!!!!!!!</font>
    <font color="white">Shanghai is the latest city to fall to the zombie virus!!!!!</font>
    <font color="black">!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</font>
    <font color="red">Todays date is:</font>
    <font color="white"><span id="time"></span></font>
    <font color="black">!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</font>
    <font color="red">BREAKING NEWS!!!!!!!!!!</font>
    <font color="white">Easiest way to kill a zombie is to destroy their #$@&%*! head!!!!!</font>
    <font color="black">!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</font>
    <font color="red">BREAKING NEWS!!!!!!!!!!</font>
    <font color="white">BRAAAINS!!!!!</font>
    <font color="black">!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</font>
    <font color="red">BREAKING NEWS!!!!!!!!!!</font>
    <font color="white">Save the children!!!</font>
  </marquee>
</i>