<div class="video-background">
  <div class="container">
    <h1 class="text-center">Worried you might be a zombie? Here is what to look out for.</h1>
    <div class="media">
      <div class="media-body">
        <h3 class="media-heading">Hour 1: Pain and discoloration (brown-purple) of the infected area. Immediate clotting of the wound (provided the infection came from a wound).</h3>
        <p>Now certain occasions may arrive where you don't realise you have been infected. While you may have avoided the bite, there are several other ways to become infected, such as brushing a wound against a zombie or by being splattered by its remains after an explosion. What you may realise after even only an hour is bruising developing around an open sore you may have had. Always let your group know you may be infected, get them to keep an eye (or a barrel) on you and possibly even move you to a containment cell. Letting them know is imperative to the survival of all of you.</p>
      </div>
    </div>
    <div class="media">
      <div class="media-body">
        <h3 class="media-heading">Hour 5: Fever (99-103 degrees F), chills, slight dementia, vomiting, acute pain in the joints.</h3>
        <p>This is the time where unfortunately you will know for almost certain if you are being zombified. If before any zombie incidents you did not have a fever and out of nowhere now you do, this would be the time to begin saying your goodbyes to loved ones and friends. At this point you are still in control of your body and mind so do your things now, and do not under any circumstances contact anyone in your group, as this will infect them as well. While you may want to kiss your loved one or hug a friend, any fluid contact will infect them, signing their doom as well.</p>
      </div>
    </div>
    <div class="media">
      <div class="media-body">
        <h3 class="media-heading">Hour 8: Numbing of extremties and the infected area, increased fever (103-106 degrees F), increased dementia, loss of muscular coordination.</h3>
        <p>Now at this point you will notice your body became painful and begin to lock up, you will lose control of your gag relflex and begin to throw up. Do this in a contained environment, again for the simple reason of keeping those around you safe and infection free. If at this point you want to be a hero and eliminate yourself, remember these key points: Splatter can infect those around you so go outside, the only way to destroy a zombie is to eliminate the brain and, since for all intents and purposes you are a zombie, you must shoot yourself in the head (a large calibre handgun or large bore shotgun is recommended, as this virtually guarantees the destruction of the brain).</p>
      </div>
    </div>
    <div class="media">
      <div class="media-body">
        <h3 class="media-heading">Hour 11: Paralysis in the lower body , overall numbness, slowed heart rate.</h3>
        <p> When you reach hour eleven you are now virtually paralized, there is not much you personally can do. If you couldn't bring yourself to shoot yourself in the previous 3 hours, tell someone you trust that they need to elimimate you. Now may not be the best time as they have to see you move, but get them ready too.</p>
      </div>
    </div>
    <div class="media">
      <div class="media-body">
        <h3 class="media-heading">Hour 16: Coma.</h3>
        <p>Now is the time to get your trusted accomplice to shoot you in the head. Again, complete destruction of the brain is critical. Make sure you let them know that once you have fallen into a coma, they aren't shooting you, but merely a dead body. You are still a vessel of Solanum so remember to tell them to avoid any splatter.And since someone else is shooting you, make sure they do a double tap. It is easier to shoot a comatized you twice now, than have to see you as a zombie later.</p>
      </div>
    </div>
    <div class="media">
      <div class="media-body">
        <h3 class="media-heading">Hour 20: Heart stoppage. Zero brain activity.</h3>
        <h3 class="media-heading">Hour 23: Reanimation.</h3>
        <p>If you have followed these tips you should not reach these times and there will be no worry of you coming back as a zombie, if you procrastinated on shooting yourself or getting someone to shoot you, hopefully you told them and they will shot you now anyways.</p>
      </div>
    </div>

  </div>
</div>