<div class="video-background">
  <div class="container">
    <h1 class="text-center">Some recommended products for helping your survival chances.</h1>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="shopping-image">
            <img src="./photos/guns.jpeg">
          </div>
          <div class="caption">
            <h3><a href="http://www.gunsmokeguns.com/home.html" target="_blank">Guns</a></h3>
            <p>Lock 'n load up on all the guns you can get your hands on. They will probably come in handy.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="shopping-image">
            <img src="./photos/sword.jpg">
          </div>
          <div class="caption">
            <h3><a href="https://www.theknightshop.com/blunt-and-sharp-swords" target="_blank">Swords</a></h3>
            <p>If guns aren't your thing, why not try a top of the range Excalibur replica sword?</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="shopping-image">
          <img src="./photos/goggles.jpg">
          </div>
          <div class="caption">
            <h3><a href="https://www.amazon.co.uk/Bolle-PILOPSI-Pilot-Safety-Goggle/dp/B000VDLP4G/ref=sr_1_2?ie=UTF8&qid=1463072215&sr=8-2&keywords=protective+goggles" target="_blank">Goggles</a></h3>
            <p>Zombie slaying can be pretty messy, so to prevent those of brain or chunks of guts getting in your eyes, make sure you pick up some protective eye wear.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="shopping-image">
          <img src="./photos/survivalkit.jpg">
          </div>
          <div class="caption">
            <h3><a href="http://www.thebushcraftstore.co.uk/survival-kits-273-c.asp" target="_blank">Survival Kits</a></h3>
            <p>If you've never been a particularly outdoorsy person, you may not have your own survival kit? Well look no further!</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="shopping-image">
          <img src="./photos/water.jpeg">
          </div>
          <div class="caption">
            <h3><a href="http://now-here-this.timeout.com/2015/05/28/a-pop-up-bar-serving-only-tap-water-is-coming-to-shoreditch/" target="_blank">Water</a></h3>
            <p>Staying hydrated is essential, especially when you're constantly running away from zombies. So if you're lucky, there's a pop-up shop near you that is dedicated to H2O.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="shopping-image">
          <img src="./photos/night-vision.jpg">
          </div>
          <div class="caption">
            <h3><a href="http://www.ebay.co.uk/itm/YUKON-NIGHT-VISION-NV-Tracker-1x24-Goggles-VIKING-/400864604980?hash=item5d55647334:m:mS66S7-uQm_mv8RrKmZ0P6A" target="_blank">Night Vision</a></h3>
            <p>Watch the action all day round. Zombies aren't so great at night so you could catch them off guard and slay them with ease using a pair of night vision goggles.</p>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>