<div class="video-background">
  <div class="container">
    <h1 class="text-center">Tips & Advice</h1>
    <div class="media">
      <div class="media-left media-top">
        <img class="media-object" src="./photos/firstaid.jpg">
      </div>
      <div class="media-body">
        <h3 class="media-heading">Get your survival kit in order.</h3>
        <p>Think about a simple survival kit. First, get a regulation first aid kit. Max Brooks, son of Mel, is a seminal zombie-survival expert and the author of the best-selling book, "The Zombie Survival Guide." He says you should set aside enough water to provide three quarts a day. You will need water replacement filters and a cistern for collecting rainwater. Among other items, Brooks suggests you set aside iodine tablets, three cans of food per day, a bicycle-powered generator, rechargeable batteries, flashlights, an extensive tool kit, emergency flares, fire extinguishers and earplugs. Why earplugs? You'll need these to help you sleep when you're surrounded by moaning zombies.</p>
      </div>
    </div>
    <div class="media">
      <div class="media-left media-top">
        <img class="media-object" src="./photos/weapons.jpg">
      </div>
      <div class="media-body">
        <h3 class="media-heading">Choose your weapons.</h3>
        <p>This can be one of the more challenging aspects of survival, as they are many ways to kill a zombie. Brooks dedicates a chapter to weapons and combat techniques. First, it is best to determine how quickly you can incapacitate, or decapitate, your zombie. As professor Neil Ferguson told the BBC, "My understanding of zombie biology is that if you manage to decapitate a zombie, then it's dead forever." As Brooks suggests, this can be done in close combat with power tools. A crossbow or hand bow can be useful for those skilled in using them. Any sort of firearm will work, as will Molotov cocktails, flamethrowers and blowtorches. But be sure to know how to wield your tools skillfully, as they can easily be turned on living humans.</p>
      </div>
    </div>
    <div class="media">
      <div class="media-left media-top">
        <img class="media-object" src="./photos/Math.jpg">
      </div>
      <div class="media-body">
        <h3 class="media-heading">Make friends with math experts.</h3>
        <p>You know who might be the first to survive a zombie outbreak? Your friendly neighborhood mathematician. The BBC reports on research from the University of Ottawa and Carleton University that illustrates how quickly humans would succumb to a zombie outbreak. As professor Robert Smith?* tells the BBC, "We model a zombie attack using biological assumptions based on popular zombie movies. We introduce a basic model for zombie infection and illustrate the outcome with numerical solutions." (* BBC notes that the question mark is part of the professor's name.) It would be extremely important for humans to "hit hard and fast," otherwise humanity would be doomed, according to the researchers.</p>
      </div>
    </div>
    <div class="media">
      <div class="media-left media-top">
        <img class="media-object" src="./photos/hospital.jpg">
      </div>
      <div class="media-body">
        <h3 class="media-heading">Don't go to a hospital.</h3>
        <p>Your first instinct might be to run to a hospital at the first sign of an outbreak. But as Brooks argues in "The Zombie Survival Guide," this is the last place you should go. As Brooks points out, "Humans with bites or newly murdered corpses are always brought to hospitals. The majority of first-wave zombies (in some cases 90 percent) consist of medical staff or those involved in the treatment of cadavers." Places like hospitals (and shopping malls) aren't the easiest places to secure because they contain many windows and entrances.</p>
      </div>
    </div>
    <div class="media">
      <div class="media-left media-top">
        <img class="media-object" src="./photos/fortress.jpg">
      </div>
      <div class="media-body">
        <h3 class="media-heading">On the defense? Build a fortress.</h3>
        <p>Once the zombie outbreak is confirmed, you'll need to decide if you'll run or take a stand. As one expert suggests, if you're dealing with a traditional slow zombie, you may want to make a run for it. But if you choose to remain in your home, Brooks offers some key suggestions. Brooks recommends that you immediately install steel or iron gates on your windows. You can even back your car up against a bank of windows. Once zombies know about your hiding places, be sure to destroy any staircases inside and outside the building. Consider fleeing to an apartment building. Since there will be more people, you stand a greater chance of finding skilled survivors like carpenters and medical professionals.</p>
      </div>
    </div>
    <div class="media">
      <div class="media-left media-top">
        <img class="media-object" src="./photos/car.jpg">
      </div>
      <div class="media-body">
        <h3 class="media-heading">If you run, plan an escape route.</h3>
        <p>If you choose to leave your home, it is advisable to keep moving and stay focused on your goal — staying alive. As Brooks explains in his guide, you may want to avoid urban areas as they are likely to contain a large number of living dead. Be sure to remain as invisible as possible. This also means avoiding large groups, which are likely to attract more attention. Chris Birchby is a zombie aficionado in southern California. As Birchby suggests, "Travel during the day when you can see. A bicycle is great because you can outrun them and no gas. If you travel in a car, take a truck with your BOV (bail-out vehicle, like motorbike or bicycle) in the back."</p>
      </div>
    </div>
    <div class="media">
      <div class="media-left media-top">
        <img class="media-object" src="./photos/shoes.jpg">
      </div>
      <div class="media-body">
        <h3 class="media-heading">Dress appropriately.</h3>
        <p>Once the zombie outbreak is confirmed, you'll need to decide if you'll run or take a stand. As one expert suggests, if you're dealing with a traditional slow zombie, you may want to make a run for it. But if you choose to remain in your home, Brooks offers some key suggestions. Brooks recommends that you immediately install steel or iron gates on your windows. You can even back your car up against a bank of windows. Once zombies know about your hiding places, be sure to destroy any staircases inside and outside the building. Consider fleeing to an apartment building. Since there will be more people, you stand a greater chance of finding skilled survivors like carpenters and medical professionals.</p>
      </div>
    </div>
    <div class="media">
      <div class="media-left media-top">
        <img class="media-object" src="./photos/running.jpg">
      </div>
      <div class="media-body">
        <h3 class="media-heading">Stay in good shape.</h3>
        <p>This tip is encouraged by all zombie experts and is featured in the recent Hollywood film, "Zombieland." Being in great shape is particularly important when dealing with fast-moving zombies. Bruce Campbell, star of "The Evil Dead" and perhaps the most beloved zombie killer of all time, urges running skills. As Campbell told MTV, "Mostly with regard to any zombie, all you have to do is run — because they can't move very quickly." But don't get overly confident and try to wrestle the zombies. As director Quentin Tarantino points out to MTV, "One bite, and you're done; you're infected. You'll have about an eight- to nine-hour incubation period after you die before you become one."</p>
      </div>
    </div>
    <div class="media">
      <div class="media-left media-top">
        <img class="media-object" src="./photos/warlord.jpg">
      </div>
      <div class="media-body">
        <h3 class="media-heading">If all else fails, become a warlord.</h3>
        <p>Zombie experts seem to agree that there is safety in numbers. But it also means that the world needs a strong leader. As Meghann Marco suggests in "The Field Guide to the Apocalypse," you have three options in becoming a warlord. First, you must develop a "persuasive political philosophy." In this case, it could involve the destruction of zombies. Second, you must gain a "monopoly on a resource." We suggest water. Third, you must secure "exclusive access to advanced weaponry." It may help to have a technical expert for an associate. A zombie outbreak will bring on a whole new world order, and there’s no reason you can’t sit at the top of the pyramid. If you follow these tips, you just might be able to rule a whole new world of the living — and the dead.</p>
      </div>
    </div>

  </div>
</div>