<div class="video-background">
  <div class="container">
    <h1 class="text-center">Tips & Advice</h1>
    <div class="media">
      <div class="media-left media-top">
        <img class="media-object" src="./photos/firstaid.jpg">
      </div>
      <div class="media-body">
        <h4 class="media-heading">Get your survival kit in order.</h4>
        <p>Think about a simple survival kit. First, get a regulation first aid kit. Max Brooks, son of Mel, is a seminal zombie-survival expert and the author of the best-selling book, "The Zombie Survival Guide." He says you should set aside enough water to provide three quarts a day. You will need water replacement filters and a cistern for collecting rainwater. Among other items, Brooks suggests you set aside iodine tablets, three cans of food per day, a bicycle-powered generator, rechargeable batteries, flashlights, an extensive tool kit, emergency flares, fire extinguishers and earplugs. Why earplugs? You'll need these to help you sleep when you're surrounded by moaning zombies.</p>
      </div>
    </div>

    </div>
  </div>
</div>